[MASTER]
ignore-path=test/ # Ignore all tests

[MESSAGES CONTROL]
disable=
    C0114, # missing-module-docstring
    C0115, # missing-class-docstring
    C0116, # missing-function-docstring
    W1203, # logging-fstring-interpolation
    C0301, # line-too-long
    R0903, # too-few-public-methods
    R1710, # inconsistent-return-statements
    W0718, # broad-exception-caught
    I1101, # c-extension-no-member

[FORMAT]
max-line-length=120 # Maximum number of characters on a single line.
max-args = 6

[design]
max-locals = 20